.PList {
  display: flex;
  width: 100%;
  max-width: 1024px;
  justify-content: space-between;
  gap: 20px;
}
.pListImg {
  width: 100%;
  object-fit: cover;
  height: 150px;
}
.pListItem {
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
}
.pListTitle h1 {
  font-size: 18px;
  color: #444;
  text-transform: capitalize;
}
.pListTitle h2 {
  font-size: 14px;
  font-weight: 300;
}
